[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pydocstyle = "*"
jupyter = "*"
jupyterlab = "*"
ipykernel = "*"
codespell = "*"

[packages]
mne-bids = ">=0.7"
mne = ">=0.22"
vtk = "*"
pyvista = "*"
pyqt5 = "*"
pydmd = "*"
tvb-library = "*"
mne-features = "*"
ipympl = "*"
dabest = "*"
pingouin = "*"
jedi = "==0.17.2"
natsort = "*"
hyppo = "*"
ptitprince = "*"
h5py = "*"
openneuro-py = "*"
neo = "*"
nb-black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
